#overlayContainer{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 25%;
  background:#ffffff;
  height: fit-content;
  z-index: 1;
  animation-duration: .25s;
  animation-name: slidein;
  border-radius:10px
}

@keyframes slidein {
  from {
    opacity:0%
  }

  to {
    opacity:100%
  }
}

.helptext{
  padding:5%;
  text-align:center;
  overflow:hidden
}

.iconContainer{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

#header{
font-size:x-large
}

#close{
  cursor:pointer;
  left: 90%;
  position: relative;
  width:fit-content;
  transform: rotate(45deg);
  padding-top: 10px;
  font-size: xx-large;
  color: black;
}

.hexagonLeft{
  float: left;
  border-right: 30px solid;
  color:#e6e6e6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagonRight{
  float: left;
  border-left: 30px solid;
  color:#e6e6e6;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexagonFill{
  float: left;
  width: 60px;
  height: 104px;
  background-color: #e6e6e6;
}

.letterInput{
  font-family: 'franklin';
  font-weight:700;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size:xx-large;
  width: inherit;
  position: relative;
  top: 25%;
  background-color:#e6e6e6;
  border:#e6e6e6
}

.letterInput:focus {
  outline: none;
}

#found-word-message{
  margin-top:20px;
  margin-left:20px;
}

.wordList{
  height: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.listedWord{
  text-decoration: none;
  width: 25%;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

